<h2>Books</h2>
<ul>
  {{#each books}}
  <li>{{app-control 'elements/book-item'}}</li>
  {{/each}}
</ul>


<div class="single">
  {{app-control 'elements/book-item' name='线性代数应该这样学' price=41.8}}
</div>


<div class="special">
  {{app-control 'elements/book-item' special}}
</div>


<div class="with special">
  {{#with special}}
    {{app-control 'elements/book-item' price=100}}
  {{/with}}
</div>
