<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plover Handbars</title>
    {{assets-css '/lib/common.css'}}
    {{assets-cssTag}}
    {{assets-jsTag}}
  </head>
  <body>
    {{content}}
  </body>
</html>
